body{
    margin: 0px;
    padding: 0px;
    background: rgb(192, 192, 192);
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;

}

.logo{
    width: 100%;
    float: left;
   
}

.left{
    float: left;
    width: 70%;
    height: 65%;
    border-radius: 30px;
 
}

.right{
    float: right;
    height: auto;
    width: 30%;
    border-radius: 30px;
    background: whitesmoke;
    
}

.left-buttom{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 30px;
   
}

.logoimg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.tittle{
    float: inherit;
    margin-left: 22%;
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 22px;
    border: none;
    outline: none;
    background:rgb(192, 192, 192) ;
}

#imgsecu{
    margin-left: 2%;
    margin-top: 20%;
    width: 100%;
    height: auto;
}

#texto{
    margin-left: 8%;
    margin-right: 6%;
}

#texto2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}

#btn-encriptar{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
    width: 30%;
    height: 60%;
    border-radius: 32px;
    margin-left: 17%;
    background: #0A3871;
  
}

#btn-desencriptar{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    width: 30%;
    height: 60%;
    border-radius: 32px;
    margin-left: 17%;
    background: #D8DFEB;
}

#copiar{
    margin-left: 35%;
    margin-top: 88%;
    padding: 25px;
    width: 40%;
    height: 10%;
    background: #D8DFEB;
    border-radius: 33px;
    display: none;
}